.footer {
  font-family: "Oswald", sans-serif;
  .copyright {
    padding: 32px 0;
    text-align: center;
    background-color: #0c223f;
  }

  .copyright > p {
    font-size: 1.6rem;
    color: #fcfcfc;
    font-weight: bold;
  }
}
