.works2 {
  font-size: 0;
  .work_contents {
    width: 100%;
    height: 100%;
    background-color: #ffc41c;
    position: relative;
  }

  .work_contents_main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .work_img_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .work_img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .work_text {
    width: 100%;
    height: 450px;
  }

  .work_title {
    font-size: 2rem;
    color: #0c223f;
    text-align: center;
    font-family: "Fugaz One", sans-serif;
    margin: 0;
  }

  .work_tool {
    text-align: center;
    color: #0c223f;
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
  }

  .button_container {
    text-align: center;
  }

  .work-button {
    font-size: 1.4rem;
    color: #0c223f;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 50px;
    background-color: #ffc41c;
    border: 1px solid #0c223f;
    overflow: hidden;
    padding: 0;
  }
  .work-button-odd {
    font-size: 1.4rem;
    color: #0c223f;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 50px;
    background-color: #ffc41c;
    border: 1px solid #0c223f;
    overflow: hidden;
    padding: 0;
  }

  /* button hover action */
  .work_link:hover {
    .work-button {
      color: #ffc41c;
    }
    .work-button::after {
      top: 0;
      background-color: #0c223f;
    }
    .work_img {
      transform: scale(1.05);
      transition-duration: 1.5s;
    }
  }

  .work-button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    top: 100%;
    width: 100%;
    height: 100%;
  }

  .work-button,
  .work-button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .triangle {
    position: absolute;
    z-index: 14;
    top: 40%;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #ffc21c;
  }
  @media screen and (max-width: 600px) {
    .work_img {
      height: initial;
    }
    .work_contents_main {
      padding: 16px 0 32px 0;
      position: initial;
      top: initial;
      left: initial;
      transform: initial;
    }

    .triangle {
      display: none;
    }
  }
}
